<form method="POST" action="{{ base_url + url_for('dashboard_bp.merge') }}" class="p-3">
    <div class="mb-3">
        {{ form.csrf_token }}
    </div>

    <div class="mb-3">
        {{ form.first_filename.label }}
        {{ form.first_filename(class="form-select") }}

        {% if form.first_filename.errors %}
        <ul>
            {% for error in form.first_filename.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.second_filename.label }}
        {{ form.second_filename(class="form-select") }}

        {% if form.second_filename.errors %}
        <ul>
            {% for error in form.second_filename.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="text-center">
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>